<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Queriddle</title>
</head>
<body>
    {% include 'head.html' %}
    <h1>Liste des sujets proposés</h1>
    {% for annee in annees %}
        <h2>{{ annee[0] }}</h2>
        {% for matiere in annee[1] %}
            <h4>{{ matiere[0] }}</h4>
            {% for proposition in matiere[1] %}
                <div>
                    {% if proposition %}
                        <p>{{ proposition }}</p>
                        <form action="/supprimer_proposition_sujet" method="POST">
                            <input type="hidden" name="lien" value="static/upload_subject/{{ annee[0] }}/{{ matiere[0] }}/{{ proposition }}">
                            <input type="submit" value="rejeter">
                        </form>
                        <form action="/ajouter_proposition_sujet" method="POST">
                            <input type="hidden" name="lien" value="static/upload_subject/{{ annee[0] }}/{{ matiere[0] }}/{{ proposition }}">
                            <input type="hidden" name="matiere" value="{{ matiere[0] }}">
                            <input type="hidden" name="annee" value="{{ annee[0] }}">
                            <input type="hidden" name="proposition" value="{{ proposition }}">
                            <input type="submit" value="ajouter">
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}
    {% endfor %}
</body>
</html>