<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Queriddle</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <link rel="stylesheet" href="/static/res.css" type="text/css">
</head>
<body>

    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        $(document).ready(function() {

            sessionStorage['choixUtilisateur'] = "Chat"
            $('#chatForum').hide();

            $('#choixChat').on('submit', function( e ){
                if (sessionStorage['choixUtilisateur'] === "Chat")
                {
                    e.preventDefault()
                    console.log("ici")
                    $('#chat, #chatPrive').hide();
                    $('#chatForum').show();
                    sessionStorage['choixUtilisateur'] = "Forum"
                }
                else {
                    e.preventDefault()
                    console.log("la")
                    $('#chatForum').hide();
                    $('#chat, #chatPrive').show();
                    sessionStorage['choixUtilisateur'] = "Chat"
                }
            })

        })
    </script>

    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        $(document).ready(function() {

            var x = document.getElementById('chatBis');
            x.scrollTop = x.scrollHeight;

            var x = document.getElementById('chatBisPrive');
            x.scrollTop = x.scrollHeight;

            $('#an').change(function() {
                var selAnnee = $('#an option:selected').text();
                $('#mat').empty();
                socket.emit( 'changeMat', {
                    annee : selAnnee
                } )
            })

            socket.on('effChangeMat', function( msg ) {
                $('#mat').append('<option value="" selected disabled>Matière</option>')
                for (var i = 0 ; i < msg.length ; i++) {
                    $('#mat').append('<option value="">'+msg[i]+'</option>');
                }
                }
            )

            $('#mat').change(function() {
                var selMatiere = $('#mat option:selected').text();
                $('#fic').empty();
                socket.emit( 'changeFic', {
                    matiere : selMatiere
                } )
            })

            socket.on('effChangeFic', function( msg ) {
                $('#fic').append('<option value="" selected disabled>Fichier</option>')
                for (var i = 0 ; i < msg.length ; i++) {
                    $('#fic').append('<option value="">'+msg[i]+'</option>');
                }
                }
            )

            $('#bouton').on('click', function(){
                    var selAnnee = $('#an option:selected').text();
                    var selMat = $('#mat option:selected').text();
                    var selFic = $('#fic option:selected').text();
                    window.location = 'http://127.0.0.1:5000/'+selAnnee+'/'+selMat+'/'+selFic;
                })
        })
    </script>

    <script>
     var socket = io.connect('http://' + document.domain + ':' + location.port);

     $(document).ready(function() {

         window.sessionStorage['username'] = '{{ myUsername }}'
         window.sessionStorage['selChat'] = 'matiere'
         window.sessionStorage['choixMat'] = '{{ matiereCh }}'

         socket.on( 'connect', function() {

             socket.emit( 'init', {
                 user : '{{ myUsername }}',
                 choixChat : window.sessionStorage['selChat'],
                 matiere : '{{ matiereCh }}'
             })

             var selAnnee = $('#an option:selected').text();
             socket.emit( 'initChoixMat', {
                 user : '{{ myUsername }}',
                 annee : '{{ anneeCh }}',
                 matiere : '{{ matiereCh }}'
             })

             socket.on('initChoixMatBack', function( msg ) {
                 if (msg[2] == window.sessionStorage['username'])
                 {
                     $('#selChatGen').empty();
                     $('#selChatGen').append('<option value="" selected>'+'{{ matiereCh }}'+'</option>');
                     $('#selChatGen').append('<option value="annee">'+msg[1]+'</option>');
                     for (var i = 0 ; i < msg[0].length ; i++) {
                         $('#selChatGen').append('<option value="matiere">'+msg[0][i]+'</option>');
                     }
                 }
                })

             $('#selChatGen').change('click', function(e) {
                 var sel = $('#selChatGen option:selected').text()
                 var sel2 = $('#selChatGen option:selected').val()
                 if (sel2 == 'annee')
                 {
                     window.sessionStorage['selChat'] = 'annee'
                     window.sessionStorage['choixMat'] = $('#selChatGen option:selected').text()
                     socket.emit( 'init', {
                         user : '{{ myUsername }}',
                         choixChat : window.sessionStorage['selChat'],
                         matiere : $('#selChatGen option:selected').text()
                     })
                 }
                 else
                 {
                     window.sessionStorage['selChat'] = 'matiere'
                     window.sessionStorage['choixMat'] = $('#selChatGen option:selected').text()
                     socket.emit( 'init', {
                         user : '{{ myUsername }}',
                         choixChat : window.sessionStorage['selChat'],
                         matiere : $('#selChatGen option:selected').text()
                     })
                 }
             })

             $( 'form.message' ).on( 'submit', function( e ) {
                 e.preventDefault()
                 let username = '{{ myUsername }}'
                 let matiere = window.sessionStorage['choixMat']
                 let userinput = $( 'input.message' ).val()
                 let selChat = window.sessionStorage['selChat']
                 let idElt = $('p.reference').attr('id')
                 if (idElt === undefined)
                 {
                     socket.emit( 'messageEmission', {
                         username : username,
                         matiere : matiere,
                         message : userinput,
                         reference : 0,
                         choixChat : selChat
                    })
                 }
                 else
                 {
                     idElt = idElt.substring(1,idElt.length);
                     $( 'div.reference' ).empty()
                    socket.emit( 'messageEmission', {
                         username : username,
                         matiere : matiere,
                         message : userinput,
                         reference : idElt,
                         choixChat : selChat
                    })
                 }
                $( 'input.message' ).val( '' ).focus()
            })

             $( 'div.message_holder' ).on( 'submit', 'form.like',function( e ) {
                e.preventDefault()
                let idElt = $(this).attr('id')
                 idElt = idElt.substring(2,idElt.length);
                socket.emit( 'likeEmission', {
                    id : idElt,
                    username : '{{ myUsername }}',
                    type: 'gen'
                })
            })

             $( 'div.message_holder' ).on( 'submit', 'form.dislike',function( e ) {
                e.preventDefault()
                let idElt = $(this).attr('id')
                 idElt = idElt.substring(2,idElt.length);
                socket.emit( 'dislikeEmission', {
                    id : idElt,
                    username : '{{ myUsername }}',
                    type: 'gen'
                })
            })

            $( 'div.message_holder' ).on( 'submit', 'form.repondre',function( e ) {
                e.preventDefault()
                $( 'div.reference' ).empty()
                let idElt = $(this).attr('id')
                 idElt = idElt.substring(2,idElt.length);
                var ref = 'm'+idElt
                var ref = document.getElementById(ref).textContent
                $( 'div.reference' ).append(
                    '<p class="reference" id="r'+idElt+'">Répondre à : "'+ref+'"</p>'
                )
            })

        })

         socket.on( 'efface', function( msg ) {
             if(msg.myUsername === '{{ myUsername }}' || msg.myUsername === 'everybody')
                $('div.message_holder').empty()
         })

         socket.on( 'messageReception', function( msg ) {
             if((msg.myUsername === '{{ myUsername }}' || msg.myUsername === 'everybody') && (window.sessionStorage['choixChat'] === msg.type || msg.matiere === window.sessionStorage['choixMat'])) {
                 if(msg.init === "yes")
                     $('div.message_holder').empty()
                 if (msg.username === '{{ myUsername }}') {
                     $('div.message_holder').append('<div class="mesMessages"><div class="ref" id="z' + msg.id + '"><p class="msgReference" id="c' + msg.id + '"></p></div><div class="contenue"><b style="color: #000">' +
                         msg.username + '</b><form class="repondre" id="r' + msg.id + '"><input type="submit" value="Répondre"></form><br><p class="msgPrincipale" id="m' + msg.id + '">' + msg.message +
                         '</p></div> <div class="like"><form action="" method="POST" class="like" id="gl' + msg.id + '">' +
                         '<input type=image src=/static/like.jpg style="height: 20px" alt="Like">' + '<p class="like">' + msg.scoreLike + '</p>' + '</form>' +
                         '<form action="" method="POST"  class="dislike" id="gd' + msg.id + '">' +
                         '<input type=image src=/static/dislike.jpg style="height: 20px" alt="<Dislike></Dislike>">' + '<p class="dislike">' + msg.scoreDislike + '</p>' +
                         '</form>' + '</div></div>')
                 } else if (typeof msg.username !== 'undefined') {
                     $('div.message_holder').append('<div class="autresMessages"><div class="ref" id="z' + msg.id + '"><p class="msgReference" id="c' + msg.id + '"></p></div><div class="contenue"><b style="color: #000">' +
                         msg.username + '</b><form class="repondre" id="r' + msg.id + '"><input type="submit" value="Répondre"></form><br><p class="msgPrincipale" id="m' + msg.id + '">' + msg.message +
                         '</p></div> <div class="like"><form action="" method="POST" class="like" id="gl' + msg.id + '">' +
                         '<input type=image src=/static/like.jpg style="height: 20px" alt="Like">' + '<p class="like">' + msg.scoreLike + '</p>' + '</form>' +
                         '<form action="" method="POST"  class="dislike" id="gd' + msg.id + '">' +
                         '<input type=image src=/static/dislike.jpg style="height: 20px" alt="<Dislike></Dislike>">' + '<p class="dislike">' + msg.scoreDislike + '</p>' +
                         '</form>' + '</div></div>')
                 }
                 if (msg.reference !== 0) {
                     var ref = 'm' + msg.reference
                     var ajout = 'c' + msg.id
                     var ref = document.getElementById(ref).textContent
                     document.getElementById(ajout).textContent = 'En réponse à : "' + ref + '"'
                 } else {
                     var ajout = 'z' + msg.id
                     document.getElementById(ajout).remove()
                 }
                 var x = document.getElementById('chatBis');
                 x.scrollTop = x.scrollHeight;
             }
         })

         socket.on( 'likeReceptionGen', function( msg ) {
             var id = "gl" + msg.id
             document.getElementById(id).querySelector('p.like').textContent = msg.scoreLike
         })

         socket.on( 'dislikeReceptionGen', function( msg ) {
             var id = "gd" + msg.id
             document.getElementById(id).querySelector('p.dislike').textContent = msg.scoreDislike
         })

     })

   </script>

   <script>
     var socket = io.connect('http://' + document.domain + ':' + location.port);

     $(document).ready(function() {

         window.sessionStorage['choixPers'] = '{{ myUsername }}'

         socket.on( 'connect', function() {

             socket.emit( 'initPrive', {
                 user : '{{ myUsername }}',
                 recipient : '{{ myUsername }}'
             })

             var selAnnee = $('#an option:selected').text();
             socket.emit( 'initChoixPers', {
                 user : '{{ myUsername }}',
                 annee : '{{ anneeCh }}',
             })

             socket.on('initChoixPersBack', function( msg ) {
                 if (msg[0] == window.sessionStorage['username'])
                 {
                     $('#selChatPrive').empty();
                     $('#selChatPrive').append('<option value="" selected>'+'{{ myUsername }}'+'</option>');
                     for (var i = 0 ; i < msg[1].length ; i++) {
                        $('#selChatPrive').append('<option value="prive">'+msg[1][i]+'</option>');
                    }
                 }
                })

             $('#selChatPrive').change('click', function(e) {
                 var sel = $('#selChatPrive option:selected').text()
                 var sel2 = $('#selChatPrive option:selected').val()
                 window.sessionStorage['choixPers'] = $('#selChatPrive option:selected').text()
                 socket.emit( 'initPrive', {
                     user : '{{ myUsername }}',
                     recipient : $('#selChatPrive option:selected').text()
                 })
             })

             $( 'form.messagePrive' ).on( 'submit', function( e ) {
                 e.preventDefault()
                 let username = '{{ myUsername }}'
                 let recipient = window.sessionStorage['choixPers']
                 let userinput = $( 'input.messagePrive' ).val()
                 let selChat = 'prive'
                 let idElt = $('p.reference').attr('id')
                 if (idElt === undefined)
                 {
                     socket.emit( 'messageEmissionPrive', {
                         username : username,
                         recipient : recipient,
                         message : userinput,
                         reference : 0
                    })
                 }
                 else
                 {
                     idElt = idElt.substring(1,idElt.length);
                     $( 'div.referencePrive' ).empty()
                    socket.emit( 'messageEmissionPrive', {
                         username : username,
                         recipient : recipient,
                         message : userinput,
                         reference : idElt
                    })
                 }
                $( 'input.messagePrive' ).val( '' ).focus()
            })

             $( 'div.message_holderPrive' ).on( 'submit', 'form.likePrive',function( e ) {
                e.preventDefault()
                let idElt = $(this).attr('id')
                 idElt = idElt.substring(2,idElt.length);
                socket.emit( 'likeEmission', {
                    id : idElt,
                    username : '{{ myUsername }}',
                    type: 'prive'
                })
            })

             $( 'div.message_holderPrive' ).on( 'submit', 'form.dislikePrive',function( e ) {
                e.preventDefault()
                let idElt = $(this).attr('id')
                 idElt = idElt.substring(2,idElt.length);
                socket.emit( 'dislikeEmission', {
                    id : idElt,
                    username : '{{ myUsername }}',
                    type: 'prive'
                })
            })

            $( 'div.message_holderPrive' ).on( 'submit', 'form.repondrePrive',function( e ) {
                e.preventDefault()
                $( 'div.referencePrive' ).empty()
                let idElt = $(this).attr('id')
                 idElt = idElt.substring(1,idElt.length);
                var ref = 'm'+idElt
                var ref = document.getElementById(ref).textContent
                $( 'div.referencePrive' ).append(
                    '<p class="reference" id="r'+idElt+'">Répondre à : "'+ref+'"</p>'
                )
            })

        })

         socket.on( 'effacePrive', function( msg ) {
             if(msg.myUsername === '{{ myUsername }}')
                $('div.message_holderPrive').empty()
         })

         socket.on( 'messageReceptionPrive', function( msg ) {
             if((msg.username === '{{ myUsername }}' && msg.recipient === window.sessionStorage['choixPers']) || (msg.username === window.sessionStorage['choixPers'] && msg.recipient === '{{ myUsername }}')) {
                 if(msg.init === "yes")
                     $('div.message_holderPrive').empty()
                 if (msg.username === '{{ myUsername }}') {
                     $('div.message_holderPrive').append('<div class="mesMessages"><div class="ref" id="z' + msg.id + '"><p class="msgReference" id="c' + msg.id + '"></p></div><div class="contenue"><b style="color: #000">' +
                         msg.username + '</b><form class="repondrePrive" id="r' + msg.id + '"><input type="submit" value="Répondre"></form><br><p class="msgPrincipale" id="m' + msg.id + '">' + msg.message +
                         '</p></div> <div class="like"><form action="" method="POST" class="likePrive" id="pl' + msg.id + '">' +
                         '<input type=image src=/static/like.jpg style="height: 20px" alt="Like">' + '<p class="like">' + msg.scoreLike + '</p>' + '</form>' +
                         '<form action="" method="POST"  class="dislikePrive" id="pd' + msg.id + '">' +
                         '<input type=image src=/static/dislike.jpg style="height: 20px" alt="<Dislike></Dislike>">' + '<p class="dislike">' + msg.scoreDislike + '</p>' +
                         '</form>' + '</div></div>')
                 } else if (typeof msg.username !== 'undefined') {
                     $('div.message_holderPrive').append('<div class="autresMessages"><div class="ref" id="z' + msg.id + '"><p class="msgReference" id="c' + msg.id + '"></p></div><div class="contenue"><b style="color: #000">' +
                         msg.username + '</b><form class="repondrePrive" id="r' + msg.id + '"><input type="submit" value="Répondre"></form><br><p class="msgPrincipale" id="m' + msg.id + '">' + msg.message +
                         '</p></div> <div class="like"><form action="" method="POST" class="likePrive" id="pl' + msg.id + '">' +
                         '<input type=image src=/static/like.jpg style="height: 20px" alt="Like">' + '<p class="like">' + msg.scoreLike + '</p>' + '</form>' +
                         '<form action="" method="POST"  class="dislikePrive" id="pd' + msg.id + '">' +
                         '<input type=image src=/static/dislike.jpg style="height: 20px" alt="<Dislike></Dislike>">' + '<p class="dislike">' + msg.scoreDislike + '</p>' +
                         '</form>' + '</div></div>')
                 }
                 if (msg.reference !== 0) {
                     var ref = 'm' + msg.reference
                     var ajout = 'c' + msg.id
                     var ref = document.getElementById(ref).textContent
                     document.getElementById(ajout).textContent = 'En réponse à : "' + ref + '"'
                 } else {
                     var ajout = 'z' + msg.id
                     document.getElementById(ajout).remove()
                 }
                 var x = document.getElementById('chatBisPrive');
                 x.scrollTop = x.scrollHeight;
             }
         })

         socket.on( 'likeReceptionPrive', function( msg ) {
             console.log(msg)
             var id = "pl" + msg.id
             document.getElementById(id).querySelector('p.like').textContent = msg.scoreLike
         })

         socket.on( 'dislikeReceptionPrive', function( msg ) {
             var id = "pd" + msg.id
             document.getElementById(id).querySelector('p.dislike').textContent = msg.scoreDislike
         })

     })

   </script>

   <script>
     var socket = io.connect('http://' + document.domain + ':' + location.port);

     $(document).ready(function() {

         window.sessionStorage['choixForum'] = "Aucun"

         socket.on( 'connect', function() {

             $( 'form.post_poser_question' ).on( 'submit', function( e ) {
                 e.preventDefault()
                 let userinput = $( 'input.messageQuestion' ).val()
                 socket.emit( 'propositionQuestion', {
                      username : '{{ myUsername }}',
                      question : userinput,
                      annee : '{{ anneeCh }}',
                      matiere : '{{ matiereCh }}',
                      sujet : '{{ sujetCh }}'
                 })
                $( 'input.messageQuestion' ).val( '' ).focus()
                    socket.emit( 'initChoixForum', {
                    user : '{{ myUsername }}',
                    matiere : '{{ matiereCh }}',
                    sujet : '{{ idSujetCh }}'
                })
            })

             socket.emit( 'initChoixForum', {
                 user : '{{ myUsername }}',
                 matiere : '{{ matiereCh }}',
                 sujet : '{{ idSujetCh }}'
             })

             socket.on('initChoixForumBack', function( msg ) {
                 $('#selChatForum').empty();
                 if (msg.length != 0)
                 {
                     console.log(msg)
                     $('#selChatForum').append('<option value="'+msg[0][1]+'" selected>'+msg[0][0]+'</option>');
                     for (var i = 1 ; i < msg.length ; i++) {
                        $('#selChatForum').append('<option value="'+msg[i][1]+'">'+msg[i][0]+'</option>');
                    }
                    window.sessionStorage['choixForum'] = msg[0][1]

                     socket.emit( 'initForum', {
                        user : '{{ myUsername }}',
                        question : msg[0][1]
                    })
                 }
                 else
                 {
                     $('#selChatForum').append('<option disabled selected >Pas de question pour ce sujet</option>');
                 }
             })

             $('#selChatForum').change('click', function(e) {
                 var sel = $('#selChatForum option:selected').val()
                 window.sessionStorage['choixForum'] = sel
                 socket.emit( 'initForum', {
                     user : '{{ myUsername }}',
                     question : sel
                 })
             })

             $( 'div.message_holderForum' ).on( 'submit', 'form.likeForum',function( e ) {
                 console.log("la")
                e.preventDefault()
                let idElt = $(this).attr('id')
                 idElt = idElt.substring(2,idElt.length);
                socket.emit( 'likeEmission', {
                    id : idElt,
                    username : '{{ myUsername }}',
                    type: 'forum'
                })
            })

             $( 'div.message_holderForum' ).on( 'submit', 'form.dislikeForum',function( e ) {
                e.preventDefault()
                let idElt = $(this).attr('id')
                 idElt = idElt.substring(2,idElt.length);
                socket.emit( 'dislikeEmission', {
                    id : idElt,
                    username : '{{ myUsername }}',
                    type: 'forum'
                })
            })

            socket.on( 'effaceForum', function( msg ) {
             if(msg.to === '{{ myUsername }}')
                $('div.message_holderForum').empty()
            })

            socket.on( 'messageReceptionForum', function( msg ) {
             if(msg.to == window.sessionStorage['choixForum']) {
                 if(msg.init === "yes")
                     $('div.message_holderForum').empty()
                 if (msg.username === '{{ myUsername }}') {
                     $('div.message_holderForum').append('<div class="mesMessages"><div class="ref" id="z' + msg.id + '"><p class="msgReference" id="c' + msg.id + '"></p></div><div class="contenue"><b style="color: #000">' +
                         msg.username + '</b><form class="repondreForum" id="r' + msg.id + '"><input type="submit" value="Répondre"></form><br><p class="msgPrincipale" id="m' + msg.id + '">' + msg.message +
                         '</p></div> <div class="like"><form action="" method="POST" class="likeForum" id="fl' + msg.id + '">' +
                         '<input type=image src=/static/like.jpg style="height: 20px" alt="Like">' + '<p class="like">' + msg.scoreLike + '</p>' + '</form>' +
                         '<form action="" method="POST"  class="dislikeForum" id="fd' + msg.id + '">' +
                         '<input type=image src=/static/dislike.jpg style="height: 20px" alt="<Dislike></Dislike>">' + '<p class="dislike">' + msg.scoreDislike + '</p>' +
                         '</form>' + '</div></div>')
                 } else if (typeof msg.username !== 'undefined') {
                     $('div.message_holderForum').append('<div class="autresMessages"><div class="ref" id="z' + msg.id + '"><p class="msgReference" id="c' + msg.id + '"></p></div><div class="contenue"><b style="color: #000">' +
                         msg.username + '</b><form class="repondreForum" id="r' + msg.id + '"><input type="submit" value="Répondre"></form><br><p class="msgPrincipale" id="m' + msg.id + '">' + msg.message +
                         '</p></div> <div class="like"><form action="" method="POST" class="likeForum" id="fl' + msg.id + '">' +
                         '<input type=image src=/static/like.jpg style="height: 20px" alt="Like">' + '<p class="like">' + msg.scoreLike + '</p>' + '</form>' +
                         '<form action="" method="POST"  class="dislikeForum" id="fd' + msg.id + '">' +
                         '<input type=image src=/static/dislike.jpg style="height: 20px" alt="<Dislike></Dislike>">' + '<p class="dislike">' + msg.scoreDislike + '</p>' +
                         '</form>' + '</div></div>')
                 }
                 if (msg.reference !== 0) {
                     var ref = 'm' + msg.reference
                     var ajout = 'c' + msg.id
                     var ref = document.getElementById(ref).textContent
                     document.getElementById(ajout).textContent = 'En réponse à : "' + ref + '"'
                 } else {
                     var ajout = 'z' + msg.id
                     document.getElementById(ajout).remove()
                 }
                 var x = document.getElementById('chatBisPrive');
                 x.scrollTop = x.scrollHeight;
             }
         })

         $( 'form.messageForum' ).on( 'submit', function( e ) {
                 e.preventDefault()
                 let username = '{{ myUsername }}'
                 let idQuestion = window.sessionStorage['choixForum']
                 let userinput = $( 'input.messageForum' ).val()
                 let idElt = $('p.referenceForum').attr('id')
                 if (idElt === undefined)
                 {
                     socket.emit( 'messageEmissionForum', {
                         username : username,
                         idQuestion : idQuestion,
                         message : userinput,
                         reference : 0,
                    })
                 }
                 else
                 {
                     idElt = idElt.substring(1,idElt.length);
                     $( 'div.referenceForum' ).empty()
                    socket.emit( 'messageEmissionForum', {
                         username : username,
                         idQuestion : idQuestion,
                         message : userinput,
                         reference : idElt,
                    })
                 }
                $( 'input.messageForum' ).val( '' ).focus()
            })

             $( 'div.message_holderForum' ).on( 'submit', 'form.repondreForum', function( e ) {
                e.preventDefault()
                $( 'div.referenceForum' ).empty()
                let idElt = $(this).attr('id')
                 idElt = idElt.substring(1,idElt.length);
                var ref = 'm'+idElt
                var ref = document.getElementById(ref).textContent
                $( 'div.referenceForum' ).append(
                    '<p class="referenceForum" id="r'+idElt+'">Répondre à : "'+ref+'"</p>'
                )
            })



            socket.on( 'likeReceptionForum', function( msg ) {
                 var id = "fl" + msg.id
                 document.getElementById(id).querySelector('p.like').textContent = msg.scoreLike
            })

         socket.on( 'dislikeReceptionForum', function( msg ) {
                 var id = "fd" + msg.id
                 document.getElementById(id).querySelector('p.dislike').textContent = msg.scoreDislike
            })

         })
     })

   </script>


    <div id="entete">
        <img src="/static/logo.png">
        <div id="choix">
            <select id="an">
                <option value="" selected disabled>Annee</option>
                {% for annee in annees %}
                    <option value="">{{ annee[0] }}</option>
                {% endfor %}
            </select>
            <select id="mat">
                <option value="" selected disabled>Matiere</option>
            </select>
            <select id="fic">
                <option value="" selected disabled>Fichier</option>
            </select>
            <br>
            <input type="submit" id="bouton" value="Valider"/>
        </div>
        <div id="statut">
            <p id="username">{{ myUsername }}</p>
            <form action="http://0.0.0.0:5000/my_account">
                <input id="bouton" type="submit" value="Mon compte">
            </form>
            <form action="http://0.0.0.0:5000/administrateur">
                <input id="bouton" type="submit" value="Admin">
            </form>
            <form action="http://0.0.0.0:5000/logout">
                <input id="bouton" type="submit" value="Se déconnecter">
            </form>
        </div>
    </div>

    <br>
    <br>

    <div id="main">
        <div id="monPdf">
            <div id="monPdf1">
                <p id="annonceSujet" >Sujet {{ matiereCh }} {{ sujetCh }}</p>
                <embed src="{{ lien }}" width="100%" height="500">
            </div>
            <br>
            <div id="monPdf2">
                <p id="annonceSujet" >Corrigé {{ matiereCh }} {{ sujetCh }}</p>
                <embed src="{{ lien2 }}" width="100%" height="500">
            </div>
            <br>
            <div id="upload">
                <p id="annonceUpload">Proposer un corrigé</p>
                <form action="/upload/{{ anneeCh }}/{{ matiereCh }}/{{ sujetCh }}/{{ myUsername }}" method="POST" enctype="multipart/form-data">
                    <div class="tooltip"><input type="file" name="file">
                        <span class="tooltiptext">
                            <p>Pour que votre fichier soit accepté, il doit respecter la règle des 3F :</p>
                            <ul>
                                <li>Fond : le fichier ne doit être présentable et lisible </li>
                                <li>Forme : le contenu doit être le plus correct possible</li>
                                <li>Fromat : seul les fichiers en format pdf sont acceptés</li>
                            </ul>
                        </span>
                    </div>
                        <input type="submit" value="Envoyer">
                </form>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for m in messages %}
                            {{ m }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div>
                <p><a href="/suggest_subject">Proposer un sujet</a></p>
            </div>
            <br><br>
            <div>
                <div id="chatForum">
                    <select id="selChatForum">
                        <option value="" selected>Aucune question</option>
                    </select>
                <div id="annonceChat">
                    <p id="motChat" >Forum</p>
                </div>
                <div id="chatBisPrive" class="message_holderForum">
                </div>
                <div class="referenceForum"></div>
                    <form action="" method="POST" class="messageForum">
                        <input type="text" id="saisiMessageForum" class="messageForum" placeholder="..."/>
                        <input id="bouton" type="submit" class="envoie" value="Envoyer"/>
                    </form>
                </div>
            </div>
        </div>
        <div id="poser_question">
            <form action="" method="POST" class="post_poser_question">
                <input type="text" id="saisiQuestion" class="messageQuestion" placeholder="Pose une question sur ce sujet"/>
                <input id="bouton" type="submit" class="envoieQuestion" value="Envoyer"/>
            </form>
        </div>
        <div id="choixBouton">
            <form action="" method="POST" id="choixChat">
                <input type="submit" id="choixChat" value="Chat"/>
            </form>
        </div>
        <div id="chat">
            <select id="selChatGen">
                    <option value="" selected>{{ matiereCh }}</option>
                    <option value="">General</option>
                </select>
            <div id="annonceChat">
                <p id="motChat" >Chat Général</p>
            </div>
            <div id="chatBis" class="message_holder">
            </div>
            <div class="reference"></div>
                <form action="" method="POST" class="message">
                    <input type="text" id="saisiMessage" class="message" placeholder="..."/>
                    <input id="bouton" type="submit" class="envoie" value="Envoyer"/>
                </form>
        </div>
        <div id="chatPrive">
            <select id="selChatPrive">
                    <option value="" selected>{{ matiereCh }}</option>
                </select>
            <div id="annonceChat">
                <p id="motChat" >Chat Privé</p>
            </div>
            <div id="chatBisPrive" class="message_holderPrive">
            </div>
            <div class="referencePrive"></div>
                <form action="" method="POST" class="messagePrive">
                    <input type="text" id="saisiMessage" class="messagePrive" placeholder="..."/>
                    <input id="bouton" type="submit" class="envoie" value="Envoyer"/>
                </form>
        </div>
    </div>

</body>
</html>
